div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #e722dd;
    color: rgb(19, 2, 2);
    border: 6px solid #440244;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
