
.Scorecard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetCountButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.indScore {
  padding: 10px;
}
